:host {
  padding: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.game__container {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}


.game__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  .answer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    .option {
      margin: 0 10px;

      @media (min-width: 400px) {
        margin: 0 40px;
      }
    }
  }

  .question__wrapper {
    transform: translateY(-50px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .reset-button {
      margin-top: 60px;
    }

    .question {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 0;

      .question__title {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .question__text {
        text-align: center;
        font-size: 25px;
        line-height: 30px;

        @media (min-width: 420px) {
          font-size: 30px;
          line-height: 35px;
        }
      }
    }
  }
}

button {
  &.big {
    width: 110px;
    height: 60px;
    font-size: 22px;

    @media (min-width: 420px) {
      width: 150px;
      height: 80px;
      font-size: 18px;
    }
  }

  &.small {
    width: 130px;
    height: 40px;
    font-size: 16px;
  }
}
