<div class="game__container" [style.direction]="translate.currentLang === 'he' ? 'rtl' : 'ltr'">

  <div class="header">

    <h1>{{ 'words.title' | translate }}</h1>

    <app-language-picker></app-language-picker>

  </div>

  <!--  DEBUGGING-->
  <!--  <h2>{{ 'test' | translate }}</h2>-->
  <!--  <h3>{{persons.length}} persons</h3>-->
  <!--  <div *ngIf="pastQuestions">-->
  <!--    <b>Past questions</b>-->
  <!--    <div *ngFor="let question of pastQuestions">{{ question?.text }}</div>-->
  <!--  </div>-->
  <!--  <div class="question__title">{{ 'words.question' | translate }} {{ pastQuestions?.length }}</div>-->

  <div class="game__content">

    <div *ngIf="persons.length > 1 && questionsList && question" class="question__wrapper">

      <div class="question">

        <div class="question__title">{{ 'words.question' | translate }} {{ pastQuestions?.length }}</div>

        <div class="question__text">{{ 'question.' + question.key | translate }}</div>

      </div>

      <div class="answer-options">
        <button mat-raised-button color="accent" class="option big"
                (click)="onClickNo()">{{ 'words.no' | translate }}</button>
        <button mat-raised-button color="accent" class="option big"
                (click)="onClickYes()">{{ 'words.yes' | translate }}</button>
      </div>

      <button mat-raised-button class="reset-button" (click)="initGame()">Reset</button>

    </div>

    <!-- PERSON FOUND -->
    <app-result [persons]="persons"
                [questionsList]="questionsList"
                [isNotFound]="isNotFound"
                [isFound]="isFound"></app-result>

    <div *ngIf="isFound || isNotFound">
      <button mat-raised-button color="primary" (click)="initGame()">Try again</button>
    </div>

  </div>
