html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  outline: none;
}

body {
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  line-height: normal;
}

.mat-typography {
  line-height: normal !important;
}
